<div class="container">

<h1>I am the press page index. Delete me with active links</h1>


<%= link_to "Create New Item", new_press_clip_url, class: 'btn btn-primary' %>
<br>
<br>

    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="card blog-card col-md-4">
        <% @press_clips.each do |press_clip| %>
            <p><h3><span><%= press_clip.title %></span></h3></p>
            <p><%= image_tag press_clip.image, id: "press-image" %></p>
            <p><%= press_clip.subtitle %></p>
            <p><a href="<%= press_clip.link %>">view this press link</a></p>
            <p><%= link_to 'Edit', edit_press_clip_path(press_clip) %></p>
            <p><%= link_to 'Delete', press_clip, method: :delete, data: { confirm: 'Are you sure you want to delete this dude?' } %></p>
        <% end %>
      </div>
    </div>
</div>

