<h1>Calvin's Gig Edits</h1>

<%= form_with(model: @gig) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control', placeholder: 'Show Date' %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.time_field :time, class: 'form-control', placeholder: 'Show Time' %>
  </div>

  <div class="form-group">
    <%= form.label :show_name %>
    <%= form.text_area :show_name, class: 'form-control', placeholder: 'Show Name' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_area :location, class: 'form-control', placeholder: 'Location' %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_area :link, class: 'form-control', placeholder: 'Web Link' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>