<!DOCTYPE html>
<html>
  <head>
    <title>CalvinApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="background"></div>

    <%= render "shared/application_nav"%>

    
  </body>
    <%= yield %>
    <footer class="fixed-bottom mastfoot">
      <div class="inner">
        <p class="app-footer">Copyright Calvin Cato | social media links | built by justimus prime</p>
      </div>
    </footer>

</html>
